
        /* .(dot) is used for class and # for id */
        .myDiv{
            
            color: brown;
        }
        #boy{
            color: blueviolet;
        }
        div{
            color: bisque;
        }
    