/* .container{
    width: 150px;
    height: 150px;
    /* margin: auto; */
    /* margin-top: 20px;
    background-color: rgb(146, 127, 255);
    transform: translate(100px, 100px);
    transform: rotate(-45deg);
    transform: scale(2,3);
/* } */ 
.container{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    background-color: rgb(146, 127, 255);
transition-duration: 2s;
    transform: translate(100px, 100px) scale(2,3);
}
.container:hover{
    /* background-color: black; */
    /* transition-delay: 1s; */
    width: 300px;
}
/* The parameters are as follow: matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */